<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">

    <div ng-show="groupCtrlList.list.length === 0" layout="column" layout-align="center center">
      <div class="div-there-nothing" align="center" layout-align="center center">
        <ng-md-icon icon="group_work" size="80" class="img_menu"></ng-md-icon>
      </div>
      <span class="there-nothing" translate="INFO_NO_GROUP_ID"></span>
    </div>

    <div ng-show="groupCtrlList.list.length > 0">

      <md-divider></md-divider>

      <div layout="row" layout-wrap layout-align="start center" infinite-scroll="groupCtrlList.nextList()">
        <div flex="auto" ng-repeat="group in groupCtrlList.list">
          <md-card class="card-list-banner card-list-region" layout="column"
                   ng-click="groupCtrlList.showDialog($event, group)">
            <div flex="50" class="card-list-banner-content">
              <div layout-align="center center" layout="row">
                <div flex="90">
                  <h4 class="truncate-long-texts"> {{group.name}}</h4>
                </div>
              </div>
            </div>
            <div layout="row">
              <div layout-padding flex layout-align="start end">
                <spam class="card-last-update">{{group.modified_date | date:'medium'}}</spam>
              </div>
            </div>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>

<gmm-fab tooltip="'NEW_GROUP_ID' | translate" stage-go="'home.settings.group.create'" gmm-fab-controller="groupCtrlList.export">
  <gmm-fab-actions>
    <md-button aria-label="export" class="md-fab md-raised md-mini" ng-csv="gmmFabController.getCsvExport()"
               filename="{{gmmFabController.fileName}}" csv-header="gmmFabController.groupHeader()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        {{'EXPORT_CSV_ID' | translate}}
      </md-tooltip>
      <ng-md-icon icon="archive" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>
  </gmm-fab-actions>
</gmm-fab>
