<md-dialog class="md-dialog-show" aria-label="Group">
  <form>
    <md-dialog-content>
      <div class="card-list-banner-content">
        <br>
        <div layout="row">
          <h3>{{dialogCtrl.group.name}}</h3>
        </div>
        <div layout="column">
          <div layout="row" layout-wrap layout-align="start center">
            <div layout="row" flex="auto" layout-align="space-between none">
              <div layout="column" class="title-checkbox-top" flex="auto">
                <p translate="VIEW_ID"></p>
                <p translate="CREATE_ID"></p>
                <p translate="UPDATE_ID"></p>
              </div>

              <div layout="column" flex="auto">
                <b translate="BANNER_ID"></b>
                <input disabled id="view_bannerconfiguration" type="checkbox" name="view_bannerconfiguration" class="checkbox-groups checkbox-custom">
                <label for="view_bannerconfiguration" class="checkbox-custom-label"></label>
                <input disabled  id="add_bannerconfiguration" type="checkbox" name="add_bannerconfiguration"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_bannerconfiguration" class="checkbox-custom-label"></label>
                <input disabled  id="change_bannerconfiguration" type="checkbox" name="change_bannerconfiguration" class="checkbox-groups-10 checkbox-custom">
                <label for="change_bannerconfiguration" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="CAMPAIGN_ID"></b>
                <input disabled  id="view_campaign" type="checkbox" name="view_campaign" class="checkbox-groups checkbox-custom">
                <label for="view_campaign" class="checkbox-custom-label"></label>
                <input disabled  id="add_campaign" type="checkbox" name="add_campaign"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_campaign" class="checkbox-custom-label"></label>
                <input disabled  id="change_campaign" type="checkbox" name="change_campaign" class="checkbox-groups-10 checkbox-custom">
                <label for="change_campaign" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="PARTICIPANT_ID"></b>
                <input disabled  id="view_participation" type="checkbox" name="view_participation" class="checkbox-groups checkbox-custom">
                <label for="view_participation" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="GAME_ID"></b>
                <input disabled  id="view_game" type="checkbox" name="view_game" class="checkbox-groups checkbox-custom">
                <label for="view_game" class="checkbox-custom-label"></label>
                <input disabled  id="add_game" type="checkbox" name="add_game"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_game" class="checkbox-custom-label"></label>
                <input disabled  id="change_game" type="checkbox" name="change_game" class="checkbox-groups-10 checkbox-custom">
                <label for="change_game" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="PLAYER_ID"></b>
                <input disabled  id="view_device_user" type="checkbox" name="view_device_user" class="checkbox-groups checkbox-custom">
                <label for="view_device_user" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="PUSH_ID"></b>
                <input disabled  id="view_push" type="checkbox" name="view_push" class="checkbox-groups checkbox-custom">
                <label for="view_push" class="checkbox-custom-label"></label>
                <input disabled  id="add_push" type="checkbox" name="add_push"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_push" class="checkbox-custom-label"></label>
                <input disabled  id="change_push" type="checkbox" name="change_push" class="checkbox-groups-10 checkbox-custom">
                <label for="change_push" class="checkbox-custom-label"></label>
              </div>
            </div>

            <div layout="row" layout-align="space-between none"  flex="auto">
              <div layout="column" class="title-checkbox-top" flex="auto">
                <p translate="VIEW_ID"></p>
                <p translate="CREATE_ID"></p>
                <p translate="UPDATE_ID"></p>
              </div>

              <div layout="column" flex="auto">
                <b translate="REGION_ID"></b>
                <input disabled  id="view_region" type="checkbox" name="view_region" class="checkbox-groups checkbox-custom">
                <label for="view_region" class="checkbox-custom-label"></label>
                <input disabled  id="add_region" type="checkbox" name="add_region"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_region" class="checkbox-custom-label"></label>
                <input disabled  id="change_region" type="checkbox" name="change_region" class="checkbox-groups-10 checkbox-custom">
                <label for="change_region" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="SYSTEM_SETTINGS_ID"></b>
                <input disabled  id="view_settings" type="checkbox" name="view_settings" class="checkbox-groups checkbox-custom">
                <label for="view_settings" class="checkbox-custom-label"></label>

                <input disabled  id="change_settings" type="checkbox" name="change_settings" class="checkbox-groups-38 checkbox-custom">
                <label for="change_settings" class="checkbox-custom-label checkbox-custom-label-top"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="USER_ID"></b>
                <input disabled  id="view_user" type="checkbox" name="view_user" class="checkbox-groups checkbox-custom">
                <label for="view_user" class="checkbox-custom-label"></label>
                <input disabled  id="add_user" type="checkbox" name="add_user"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_user" class="checkbox-custom-label"></label>
                <input disabled  id="change_user" type="checkbox" name="change_user" class="checkbox-groups-10 checkbox-custom">
                <label for="change_user" class="checkbox-custom-label"></label>
              </div>

              <div layout="column" flex="auto">
                <b translate="GROUP_OF_USERS_ID"></b>
                <input disabled  id="view_group" type="checkbox" name="view_group" class="checkbox-groups checkbox-custom">
                <label for="view_group" class="checkbox-custom-label"></label>
                <input disabled  id="add_group" type="checkbox" name="add_group"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_group" class="checkbox-custom-label"></label>
                <input disabled  id="change_group" type="checkbox" name="change_group" class="checkbox-groups-10 checkbox-custom">
                <label for="change_group" class="checkbox-custom-label"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <md-button layout-align="center center" class="md-icon-button close-dialog" ng-click="dialogCtrl.cancel()"
                 aria-label="close" autofocus>
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-autofocus>
      <md-button ng-click="dialogCtrl.cancel()" layout-align="center center" class="md-icon-button" aria-label="Edit"
                 ui-sref="home.settings.group.edit({groupId:dialogCtrl.group.id})">
        <md-tooltip md-direction="top">{{'GROUP_EDIT_ID' | translate}}</md-tooltip>
        <ng-md-icon icon="mode_edit"></ng-md-icon>
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
