<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">
    <md-content layout-padding>
      <form name="groupForm">
        <div layout="column">
          <div layout="row" layout-align="end center">
            <p>
              <small class="md-caption" translate="REQUIRED_FIELDS_ID"></small>
            </p>
          </div>
          <div layout="column">
            <div layout-align="space-around center">
              <md-input-container class="md-block md-has-icon">
                <label>{{'NAME_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="description"></ng-md-icon>
                <input md-maxlength="50" required name="groupName" ng-model="groupCtrl.group.name">
                <div ng-messages="groupForm.groupName.$error">
                  <div ng-message="required" ng-show="groupForm.groupName.$touched && groupForm.groupName.$error.required"
                       translate="INFO_FIELD_REQUIRED_ID"></div>
                  <div ng-message="md-maxlength" ng-show="groupForm.groupName.$touched && groupForm.groupName.$error['md-maxlength']"
                       translate="INFO_FIELD_MAX_LENGTH_ID" translate-value-number="50"></div>
                </div>
              </md-input-container>
            </div>

            <md-divider class="md-padding">
              <small class="md-caption" translate="PERMISSIONS_ID"></small>
            </md-divider>

            <div layout="row" layout-align="space-between">
              <div layout="column" class="title-checkbox-top">
                <p translate="VIEW_ID"></p>
                <p translate="CREATE_ID"></p>
                <p translate="UPDATE_ID"></p>
              </div>

              <div layout="column">
                <b translate="BANNER_ID"></b>
                <input id="view_bannerconfiguration"  type="checkbox" name="view_bannerconfiguration" class="checkbox-groups checkbox-custom">
                <label for="view_bannerconfiguration" class="checkbox-custom-label"></label>
                <input id="add_bannerconfiguration" type="checkbox" name="add_bannerconfiguration"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_bannerconfiguration" class="checkbox-custom-label"></label>
                <input id="change_bannerconfiguration" type="checkbox" name="change_bannerconfiguration" class="checkbox-groups-10 checkbox-custom">
                <label for="change_bannerconfiguration" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="CAMPAIGN_ID"></b>
                <input id="view_campaign"  type="checkbox" name="view_campaign" class="checkbox-groups checkbox-custom">
                <label for="view_campaign" class="checkbox-custom-label"></label>
                <input id="add_campaign"  type="checkbox" name="add_campaign"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_campaign" class="checkbox-custom-label"></label>
                <input id="change_campaign"  type="checkbox" name="change_campaign" class="checkbox-groups-10 checkbox-custom">
                <label for="change_campaign" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="PARTICIPANT_ID"></b>
                <input id="view_participation"  type="checkbox" name="view_participation" class="checkbox-groups checkbox-custom">
                <label for="view_participation" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="GAME_ID"></b>
                <input id="view_game"  type="checkbox" name="view_game" class="checkbox-groups checkbox-custom">
                <label for="view_game" class="checkbox-custom-label"></label>
                <input id="add_game"  type="checkbox" name="add_game"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_game" class="checkbox-custom-label"></label>
                <input id="change_game"  type="checkbox" name="change_game" class="checkbox-groups-10 checkbox-custom">
                <label for="change_game" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="PLAYER_ID"></b>
                <input id="view_device_user"  type="checkbox" name="view_device_user" class="checkbox-groups checkbox-custom">
                <label for="view_device_user" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="PUSH_ID"></b>
                <input id="view_push"  type="checkbox" name="view_push" class="checkbox-groups checkbox-custom">
                <label for="view_push" class="checkbox-custom-label"></label>
                <input id="add_push"  type="checkbox" name="add_push"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_push" class="checkbox-custom-label"></label>
                <input id="change_push"  type="checkbox" name="change_push" class="checkbox-groups-10 checkbox-custom">
                <label for="change_push" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="REGION_ID"></b>
                <input id="view_region"  type="checkbox" name="view_region" class="checkbox-groups checkbox-custom">
                <label for="view_region" class="checkbox-custom-label"></label>
                <input id="add_region"  type="checkbox" name="add_region"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_region" class="checkbox-custom-label"></label>
                <input id="change_region"  type="checkbox" name="change_region" class="checkbox-groups-10 checkbox-custom">
                <label for="change_region" class="checkbox-custom-label"></label>
              </div>
            </div>

            <div layout="row" layout-align="space-between">
              <div layout="column" class="title-checkbox-top">
                <p translate="VIEW_ID"></p>
                <p translate="CREATE_ID"></p>
                <p translate="UPDATE_ID"></p>
              </div>

              <div layout="column">
                <b translate="SYSTEM_SETTINGS_ID"></b>
                <input id="view_settings"  type="checkbox" name="view_settings" class="checkbox-groups checkbox-custom">
                <label for="view_settings" class="checkbox-custom-label"></label>

                <input id="change_settings"  type="checkbox" name="change_settings" class="checkbox-groups-38 checkbox-custom">
                <label for="change_settings" class="checkbox-custom-label checkbox-custom-label-top"></label>
              </div>

              <div layout="column">
                <b translate="USER_ID"></b>
                <input id="view_user"  type="checkbox" name="view_user" class="checkbox-groups checkbox-custom">
                <label for="view_user" class="checkbox-custom-label"></label>
                <input id="add_user"  type="checkbox" name="add_user"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_user" class="checkbox-custom-label"></label>
                <input id="change_user"  type="checkbox" name="change_user" class="checkbox-groups-10 checkbox-custom">
                <label for="change_user" class="checkbox-custom-label"></label>
              </div>

              <div layout="column">
                <b translate="GROUP_OF_USERS_ID"></b>
                <input id="view_group"  type="checkbox" name="view_group" class="checkbox-groups checkbox-custom">
                <label for="view_group" class="checkbox-custom-label"></label>
                <input id="add_group"  type="checkbox" name="add_group"  class="checkbox-groups-10 checkbox-custom">
                <label for="add_group" class="checkbox-custom-label"></label>
                <input id="change_group"  type="checkbox" name="change_group" class="checkbox-groups-10 checkbox-custom">
                <label for="change_group" class="checkbox-custom-label"></label>
              </div>

            </div>

            <md-button ng-model="userCtrl.master" class="button-select-all" ng-click="groupCtrl.selectAllCheckBoxes()">Select All</md-button>

            <div layout="column" class="md-padding">
              <md-divider class="md-padding">
              </md-divider>
            </div>
          </div>
          <div layout="row" layout-align="end center">
            <button ng-disabled="groupCtrl.disabled()" ladda="groupCtrl.buttonSave" ng-click="groupCtrl.save($event)"
                    data-spinner-size="30" data-style="expand-left">
              {{groupCtrl.buttonText | translate}}
            </button>
            <md-button md-no-ink ng-click="groupCtrl.cancel($event)" class="md-primary">{{'CANCEL_ID' | translate}}</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </div>
</div>
