<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">

    <md-card class="card-list-banner card-list-settings" layout="column" ng-click ui-sref="home.settings.region.list">
      <div layout="row" layout-align="right center" class="card-list-settings-content">
        <ng-md-icon icon="room" size="50" class="img_settings"></ng-md-icon>
        <h2 class="truncate-long-texts" translate="REGIONS_ID"></h2>
      </div>
    </md-card>

    <md-card class="card-list-banner card-list-settings" layout="column" ng-click ui-sref="home.settings.group.list">
      <div layout="row" layout-align="right center" class="card-list-settings-content">
        <ng-md-icon icon="group_work" size="50" class="img_settings"></ng-md-icon>
        <h2 class="truncate-long-texts" translate="GROUPS_ID"></h2>
      </div>
    </md-card>
    <md-card class="card-list-banner card-list-settings" layout="column" ng-click ui-sref="home.settings.general.update">
      <div layout="row" layout-align="right center" class="card-list-settings-content">
        <ng-md-icon icon="settings" size="50" class="img_settings"></ng-md-icon>
        <h2 class="truncate-long-texts" translate="GENERAL_ID"></h2>
      </div>
    </md-card>

    <md-card class="card-list-banner card-list-settings" layout="column" ng-click ui-sref="home.settings.user.list">
      <div layout="row" layout-align="right center" class="card-list-settings-content">
        <ng-md-icon icon="settings" size="50" class="img_settings"></ng-md-icon>
        <h2 class="truncate-long-texts" translate="USER_ID"></h2>
      </div>
    </md-card>

  </div>
</div>
