<div layout="row">
  <div class="div-content-padding content" layout-align="center center">
    <div layout="column" class="md-inline-form">
      <md-content layout-padding>
        <form name="campaignCreateForm">
          <div layout="column">
            <div layout="row" layout-align="end center">
              <p>
                <small class="md-caption" translate="REQUIRED_FIELDS_ID"></small>
              </p>
            </div>

            <div layout="row">
              <md-input-container class="md-has-icon" flex>
                <label>{{'CAMPAIGN_NAME_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="description"></ng-md-icon>
                <input required type="text" min="3" name="campaignName" ng-model="campaignCtrl.campaign.name"
                       ng-disabled="campaignCtrl.verifyDisabledEdit">

                <div ng-messages="campaignCreateForm.campaignName.$error">
                  <div ng-message='required'
                       ng-show="campaignCreateForm.campaignName.$error.required" translate="INFO_FIELD_REQUIRED_ID">
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container class="md-has-icon" flex="50">
                <label>{{'LIMIT_PARTICIPANTS_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="group"></ng-md-icon>
                <input required type="number" min="1" max="2147483647" pattern="^[0-9]*$"
                       ng-model="campaignCtrl.campaign.participant_limit"
                       name="participantLimitInput" ng-disabled="campaignCtrl.verifyEdit()">

                <div
                  ng-messages="campaignCreateForm.participantLimitInput.$error && campaignCreateForm.participantLimitInput.$touched">
                  <div ng-message='required'
                       ng-show="campaignCreateForm.participantLimitInput.$error.required && !campaignCreateForm.participantLimitInput.$error.number && !campaignCreateForm.participantLimitInput.$error.min"
                       translate="INFO_FIELD_REQUIRED_ID">
                  </div>

                  <div ng-message='number'
                       ng-show="!campaignCreateForm.participantLimitInput.$error.required && campaignCreateForm.participantLimitInput.$error.number && !campaignCreateForm.participantLimitInput.$error.min"
                       translate="ONLY_NUMBERS_ALLOWED_ID">
                  </div>

                  <div ng-message='min'
                       ng-show="!campaignCreateForm.participantLimitInput.$error.required && !campaignCreateForm.participantLimitInput.$error.number && campaignCreateForm.participantLimitInput.$error.min"
                       translate="ONLY_NUMBERS_GREATER_ID">
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="column">
              <md-input-container flex
                                  class="md-has-icon md-has-chip"
                                  ng-class="[campaignCreateForm['regions-autocomplete'].$touched && campaignCtrl.regions.length == 0 ? 'md-input-invalid' : '',
                                  campaignCtrl.regions.length > 0 ? 'label-chips-active': '']">
                <label class="label-chips">{{'REGIONS_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="room"></ng-md-icon>
                <md-chips name="campaignRegions" ng-model="campaignCtrl.regions" md-autocomplete-snap
                          md-require-match="true"
                          readonly="campaignCtrl.verifyDisabledBeginDate()"
                          md-on-add="campaignCtrl.hasDuplicatesCountriesInRegions($index)">
                  <md-autocomplete
                    md-search-text="campaignCtrl.searchText"
                    md-input-name="regions-autocomplete"
                    md-items="region in campaignCtrl.querySearchRegion(campaignCtrl.searchText)"
                    md-item-text="region"
                    md-min-length="1"
                    md-delay="300">
                    <span md-highlight-text="campaignCtrl.searchText">{{ region.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                      <span>
                        <em>{{$chip.name}}</em>
                      </span>
                  </md-chip-template>
                </md-chips>
                <div class="gmm-banner-chips"
                     ng-show="campaignCreateForm['regions-autocomplete'].$touched && campaignCtrl.regions.length == 0"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>
              </md-input-container>
            </div>

            <div layout="row">
              <div flex="33">
                <div flex="100" layout="column" class="timezone-container">
                  <md-input-container flex class="md-has-icon"
                                      ng-class="campaignCtrl.timezoneRequired && campaignCtrl.campaign.gmt_timezone == undefined ? 'md-input-invalid': ''">
                    <label class="label-timezone"
                           ng-class="campaignCtrl.campaign.gmt_timezone != undefined? 'label-active': ''">
                      {{'TIMEZONE_ID' | translate}}
                      <small class="md-caption">*</small>
                    </label>
                    <ng-md-icon icon="schedule"></ng-md-icon>
                    <div layout="row">
                      <div flex="5" ng-click="campaignCtrl.setTimezoneCampaign()">
                        <timezone-selector ng-model="campaignCtrl.campaign.gmt_timezone" display-utc="true"
                                           ng-disabled="campaignCtrl.verifyDisabledBeginDate()"></timezone-selector>
                      </div>
                    </div>
                    <div class="gmm-banner-chips"
                         ng-show="campaignCtrl.timezoneRequired && campaignCtrl.campaign.gmt_timezone == undefined"
                         translate="INFO_FIELD_REQUIRED_ID">
                    </div>
                  </md-input-container>
                </div>
              </div>
              <div flex="33">
                <gmm-datetime datetime-name="'BEGIN_DATE_ID' | translate" ng-model="campaignCtrl.beginDateTime"
                              min-date="campaignCtrl.currentDate"
                              ng-disabled="campaignCtrl.verifyDisabledBeginDate()"
                              ng-on-change="campaignCtrl.onBeginDateChange()"></gmm-datetime>
              </div>
              <div flex="33">
                <gmm-datetime datetime-name="'END_DATE_ID' | translate" ng-model="campaignCtrl.endDateTime"
                              min-date="campaignCtrl.minEndDate"
                              ng-disabled="campaignCtrl.verifyDisabledEdit"></gmm-datetime>
              </div>
            </div>

            <div layout="row">
              <md-input-container flex
                                  class="md-has-icon md-has-chip"
                                  ng-class="[campaignCreateForm['games-autocomplete'].$touched && campaignCtrl.games.length == 0 ? 'md-input-invalid' : '', campaignCtrl.games.length > 0 ? 'label-chips-active': '']">
                <label class="label-chips">{{'GAMES_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="vidiogame_asset"></ng-md-icon>
                <md-chips flex="100" ng-model="campaignCtrl.games"
                          md-autocomplete-snap
                          readonly="campaignCtrl.verifyDisabledBeginDate()"
                          md-require-match="true"
                          md-on-add="campaignCtrl.changeGame($chip)"
                          md-on-remove="campaignCtrl.removeGame($chip)">
                  <md-autocomplete
                    md-input-name="games-autocomplete"
                    md-search-text="searchText"
                    md-items="game in campaignCtrl.querySearchGame(searchText)"
                    md-item-text="game.name">
                    <span md-highlight-text="ctrl.searchText">{{game.name}}</span>
                  </md-autocomplete>
                  <md-chip-template>
                <span>
                  <em>{{$chip.name}}</em>
                </span>
                  </md-chip-template>
                </md-chips>
                <div class="gmm-banner-chips"
                     ng-show="campaignCreateForm['games-autocomplete'].$touched && campaignCtrl.games.length == 0"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>
              </md-input-container>
            </div>

            <md-tabs md-dynamic-height md-border-bottom md-autoselect ng-if="campaignCtrl.games.length > 0">
              <md-tab label="{{game.name}}" id="{{game.id}}"
                      ng-repeat="game in campaignCtrl.games"
                      md-on-select="campaignCtrl.onSelect($index)"
                      md-on-deselect="campaignCtrl.onDeselect($index)">

                <md-card class="card-campaign-configuration"
                         ng-class="campaignCtrl.getGameConfigTemplate(game) != null ? 'card-campaign-configuration-active':''"
                         ng-init="view.details = true">

                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">{{'CAMPAIGN_CONFIGURATION_ID' | translate}}<small
                        class="md-headline md-caption">*
                      </small></span>
                      <span class="md-subhead">{{game.name}}</span>
                    </md-card-title-text>
                  </md-card-title>

                  <md-card-actions layout="row" layout-align="end center"
                                   ng-if="campaignCtrl.getGameConfigTemplate(game) == null">
                    <md-button class="md-raised" ng-click="campaignCtrl.showCampaignConfigDialog($event, game)"
                               aria-label="btAdd" translate="ADD_ID">
                    </md-button>
                  </md-card-actions>

                  <md-card-actions layout="row" layout-align="start center"
                                   ng-if="campaignCtrl.getGameConfigTemplate(game) != null">
                    <md-button class="md-warn md-raised md-hue-2" aria-label="btRemove"
                               ng-click="campaignCtrl.removeGameConfig(campaignCtrl.getGameConfigTemplate(game))"
                               ng-disabled="campaignCtrl.verifyDisabledBeginDate()" translate="REMOVE_ID">
                    </md-button>
                    <md-card-icon-actions>
                      <md-button class="md-icon-button" aria-label="toggle" ng-click="view.details = !view.details">
                        <ng-md-icon ng-if="!view.details" icon="keyboard_arrow_down"></ng-md-icon>
                        <ng-md-icon ng-if="view.details" icon="keyboard_arrow_up"></ng-md-icon>
                      </md-button>
                    </md-card-icon-actions>
                  </md-card-actions>
                  <md-card-content ng-show="view.details && campaignCtrl.getGameConfigTemplate(game) != null">
                    <json-formatter class="md-padding"
                                    json="campaignCtrl.getGameConfigTemplate(game).form_value"
                                    open="1">
                    </json-formatter>
                  </md-card-content>
                </md-card>

                <gmm-multi-push game="game" disabled-add="campaignCtrl.verifyDisabledBeginDate"></gmm-multi-push>

              </md-tab>
            </md-tabs>
          </div>
        </form>

        <div layout="column" class="margin-top-100">
          <div layout="row" layout-align="end center" class="margin-top-100">
            <md-input-container>
              <button data-spinner-size="30" data-style="expand-left" ladda="campaignCtrl.buttonSave"
                      class="md-raised md-primary" ng-disabled="campaignCtrl.disabled()"
                      type="submit"
                      ng-click="campaignCtrl.save($event)">{{campaignCtrl.buttonText}}
              </button>
              <md-button md-no-ink ng-click="campaignCtrl.cancel($event)" class="md-primary" aria-label="btCancel"
                         translate="CANCEL_ID"></md-button>
            </md-input-container>
          </div>
        </div>
      </md-content>
    </div>
  </div>
</div>


