<md-dialog class="md-dialog-show" aria-label="Campaign configuration">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 translate="CAMPAIGN_CONFIGURATION_ID"></h2>
      <span flex></span>
      <md-button aria-label="close" class="md-icon-button" ng-click="dialogCtrl.cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <gmm-form-fill form-disable="false"
                   ng-model="dialogCtrl.dropzones"
                   form-json="dialogCtrl.formJson">
    </gmm-form-fill>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-disabled="dialogCtrl.disableTemplate()" ng-click="dialogCtrl.addAllTemplates()" aria-label="btSave"
               translate="SAVE_CONFIG_ID">
    </md-button>
  </md-dialog-actions>
</md-dialog>
