<md-dialog class="md-dialog-show" aria-label="Banner">
  <form>
    <md-dialog-content>
      <div class="card-list-banner-content">
        <div layout="row">
          <h3>{{dialogCtrl.campaign.name}}</h3>
        </div>
        <br/>

        <div layout="column">
          <small class="truncate-long-texts"><span>Id</span>&nbsp{{dialogCtrl.campaign.id}} </small>
          <small class="truncate-long-texts"><span>Begin Date</span>&nbsp{{dialogCtrl.campaign.begin_date | date:'medium'}}
          </small>
          <small class="truncate-long-texts"><span>End Date</span>&nbsp{{dialogCtrl.campaign.end_date | date:'medium'}}
          </small>
          <small class="truncate-long-texts"><span>Limit</span>&nbsp{{dialogCtrl.campaign.participant_limit}}</small>
          <small class="truncate-long-texts"><span>Games</span>&nbsp{{dialogCtrl.getGameNames(dialogCtrl.campaign)}}</small>

          <div layout="row" layout-wrap layout-align="start center">

            <div layout="row" layout-align="start center" flex="50"
                 ng-repeat="region in dialogCtrl.campaign.regions">

              <div layout="row" layout-align="start center" ng-if="region.countries.length <= 1">
                <span
                  class="flag-icon flag-icon-squared flag-icon-{{dialogCtrl.lowercaseCountryCode(region.countries[0].country_code)}}">
                </span>
                <span layout-padding>{{ region.countries[0].country_name }}</span>
              </div>

              <div layout="row" layout-align="start center" ng-if="region.countries.length > 1">
                <div layout="row" layout-align="center center" class="circle circle-list"
                     ng-attr-style="background: {{region.color}}">
                  <span>{{region.name.charAt(0)}}</span>
                </div>
                <span layout-padding>{{region.name}}</span>
              </div>
            </div>
          </div>
        </div>

        <div layout="column" >
          <div ng-repeat="template in dialogCtrl.forms">
            <small class="card-warn">{{template.game.name}}</small>
            <md-divider></md-divider>
            <json-formatter json="template.form_value" open="1"></json-formatter>
            <md-divider></md-divider>
          </div>
        </div>
      </div>
      <md-button layout-align="center center" class="md-icon-button close-dialog" ng-click="dialogCtrl.cancel()"
                 aria-label="close" autofocus>
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </md-dialog-content>

    <md-dialog-actions layout="row" md-autofocus>
      <md-button ng-click="dialogCtrl.cancel()" layout-align="center center" class="md-icon-button" aria-label="Edit"
                 ui-sref="home.campaign.edit({campaignId:dialogCtrl.campaign.id})">
        <md-tooltip md-direction="top">Edit Campaign</md-tooltip>
        <ng-md-icon icon="mode_edit"></ng-md-icon>
      </md-button>
      <md-button ng-show="dialogCtrl.campaign.active" ng-click="dialogCtrl.activate($event, false)" layout-align="center center"
                 class="md-icon-button"
                 aria-label="block">
        <md-tooltip md-direction="top">Disable Campaign</md-tooltip>
        <ng-md-icon icon="block"></ng-md-icon>
      </md-button>
      <md-button ng-show="!dialogCtrl.campaign.active" ng-click="dialogCtrl.activate($event, true)" layout-align="center center"
                 class="md-icon-button"
                 aria-label="block">
        <md-tooltip md-direction="top">Enable Campaign</md-tooltip>
        <ng-md-icon icon="check_circle"></ng-md-icon>
      </md-button>
      <md-button ng-click="dialogCtrl.cancel()" layout-align="center center" class="md-icon-button" aria-label="Send Push"
                 ui-sref="home.push.create({urlFallback:'home.campaign.list', campaigns: [dialogCtrl.campaign]})">
        <md-tooltip md-direction="top">Send Push to eligible players</md-tooltip>
        <ng-md-icon icon="system_update"></ng-md-icon>
      </md-button>
      <span flex></span>
      <spam ng-show="dialogCtrl.campaign.active" layout-padding class="status-banner">Enabled</spam>
      <spam ng-show="!dialogCtrl.campaign.active" layout-padding class="status-banner">Disabled</spam>
    </md-dialog-actions>
  </form>
</md-dialog>
