<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">
    <div ng-show="playersCtrl.listPlayers.length === 0" layout="column" layout-align="center center">
      <div class="div-there-nothing" align="center" layout-align="center center">
        <ng-md-icon icon="people" size="80" class="img_menu"></ng-md-icon>
      </div>
      <span class="there-nothing" translate="INFO_NO_PLAYER_ID"></span>
    </div>

    <div ng-show="playersCtrl.listPlayers.length > 0">
      <md-content layout="column">
        <div flex="50">
          <md-content class="md-padding" layout="column">
            <md-input-container flex class="md-has-icon md-has-chip gmm-margin-top-1" ng-class="playersCtrl.games.length > 0 ? 'label-chips-active': ''">
              <label class="label-chips" translate="GAMES_ID"></label>
              <ng-md-icon icon="vidiogame_asset"></ng-md-icon>
              <md-chips ng-model="playersCtrl.games" md-autocomplete-snap md-require-match="true"
                        md-on-add="playersCtrl.filter()">
                <button md-chip-remove class="md-primary md-chip-remove" ng-click="playersCtrl.removeGame($chip)">
                  <md-icon md-svg-icon="md-close"></md-icon>
                </button>
                <md-autocomplete
                  md-input-name="games-autocomplete"
                  md-search-text="playersCtrl.searchGameText"
                  md-items="game in playersCtrl.querySearchGame(playersCtrl.searchGameText)"
                  md-item-text="game"
                  md-min-length="1"
                  md-delay="300">
                  <span md-highlight-text="playersCtrl.searchGameText">{{ game.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <em>{{$chip.name}}</em>
                  </span>
                </md-chip-template>
              </md-chips>
            </md-input-container>
            <md-content>
        </div>
        <div flex="50">
          <md-content class="md-padding" layout="column">
            <md-input-container flex class="md-has-icon md-has-chip gmm-margin-top-1" ng-class="playersCtrl.regions.length > 0 ? 'label-chips-active': ''">
              <label class="label-chips" translate="REGIONS_ID"></label>
              <ng-md-icon icon="room"></ng-md-icon>
              <md-chips ng-model="playersCtrl.regions" md-autocomplete-snap md-require-match="true"
                        md-on-add="playersCtrl.filter()">
                <button md-chip-remove class="md-primary md-chip-remove" ng-click="playersCtrl.removeRegion($chip)">
                  <md-icon md-svg-icon="md-close"></md-icon>
                </button>
                <md-autocomplete
                  md-search-text="playersCtrl.searchRegionText"
                  md-items="region in playersCtrl.querySearchRegion(playersCtrl.searchRegionText)"
                  md-item-text="region"
                  md-min-length="1"
                  md-delay="300">
                  <span md-highlight-text="playersCtrl.searchRegionText">{{ region.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <em>{{$chip.name}}</em>
                    </span>
                </md-chip-template>
              </md-chips>
            </md-input-container>
        </div>

        <md-divider class="md-padding">
          <small class="md-caption-period" translate="PERIOD_ACTIVITY_ID"></small>
        </md-divider>

        <div flex="50">
          <div layout="row" class="md-padding">
            <div flex="50">
              <gmm-date date-name="'BEGIN_DATE_ID' | translate" filter="playersCtrl.filter()" ng-model="playersCtrl.beginDateTime" >
              </gmm-date>
            </div>
            <div flex="50">
              <gmm-date date-name="'END_DATE_ID' | translate" filter="playersCtrl.filter()" ng-model="playersCtrl.endDateTime">
              </gmm-date>
            </div>
          </div>
        </div>
      </md-content>
      <br/>

      <div layout="row">
        <div flex="15" align="center">
          <span ng-click="playersCtrl.orderBy('environment_info__location_country')">
            <a class="table-header-text-{{playersCtrl.checkLastField('environment_info__location_country')}}" id="country">
              <span translate="COUNTRY_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('environment_info__location_country')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('environment_info__location_country')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="playersCtrl.orderBy('game__name')">
            <a class="table-header-text-{{playersCtrl.checkLastField('game__name')}}" id="name">
              <span translate="GAME_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('game__name')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('game__name')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="playersCtrl.orderBy('email')">
            <a class="table-header-text-{{playersCtrl.checkLastField('email')}}" id="email">
              <span translate="EMAIL_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('email')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('email')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="playersCtrl.orderBy('gpg_id')">
            <a class="table-header-text-{{playersCtrl.checkLastField('gpg_id')}}" id="gpg_id">
              <span translate="GPG_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('gpg_id')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('gpg_id')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="playersCtrl.orderBy('gcm_id')">
            <a class="table-header-text-{{playersCtrl.checkLastField('gcm_id')}}" id="gcm_id">
              <span translate="GCM_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('gcm_id')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('gcm_id')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="20" align="center">
          <span ng-click="playersCtrl.orderBy('last_date_played')">
            <a class="table-header-text-{{playersCtrl.checkLastField('last_date_played')}}" id="last_date_played">
              <span translate="LAST_PLAYED_ID"></span>
              <ng-md-icon icon="keyboard_arrow_down" ng-show="playersCtrl.ascendant && playersCtrl.isLastSortedField('last_date_played')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!playersCtrl.ascendant && playersCtrl.isLastSortedField('last_date_played')"></ng-md-icon>
            </a>
          </span>
        </div>
      </div>

      <md-divider></md-divider>

      <md-card class="card-list">
        <md-card-content>
          <md-list infinite-scroll="playersCtrl.nextList()">
            <md-item ng-repeat="player in playersCtrl.list">
              <md-item-content>
                <md-toolbar>
                  <div flex="auto" class="md-toolbar-tools">
                    <div flex="15" layout="row">
                      <span
                        class="flag-icon flag-icon-squared flag-icon-{{playersCtrl.lowercaseCountryCode(player.environment_info.location_country_code)}}">
                      </span>
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.environment_info.location_country}}
                            <md-tooltip md-direction="top">{{player.environment_info.location_country}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.game.name}}
                            <md-tooltip md-direction="top">{{player.game.name}} </md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.email}}
                            <md-tooltip md-direction="top">{{player.email}} </md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.gpg_id}}
                            <md-tooltip md-direction="top">{{player.gpg_id}} </md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.gcm_id}}
                            <md-tooltip md-direction="top">{{player.gcm_id}} </md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="20">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{player.last_date_played | date:'medium'}}
                            <md-tooltip md-direction="top">{{player.last_date_played|date:'medium'}} </md-tooltip>
                        </span>
                      </h4>
                    </div>
                  </div>
                </md-toolbar>
              </md-item-content>
            </md-item>
            <md-divider></md-divider>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>

<gmm-fab gmm-fab-controller="playersCtrl.export" tooltip="'PUSH_SEND_ID' | translate" first-icon="'system_update'" click-go="playersCtrl.sendPush">
  <gmm-fab-actions>
    <md-button aria-label="export" class="md-fab md-raised md-mini" ng-csv="gmmFabController.getCsvExport()"
               filename="{{gmmFabController.fileName}}" csv-header="gmmFabController.playerHeader()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        <span translate="EXPORT_CSV_ID"></span>
      </md-tooltip>
      <ng-md-icon icon="archive" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>
  </gmm-fab-actions>
</gmm-fab>
