<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">
    <div layout="row" class="md-whiteframe-1dp filter-log" ng-show="participantsCtrl.showFilter()">
      <div layout="column" class="filter-log-item" ng-show="participantsCtrl.beginDateTime != undefined || participantsCtrl.beginDateTime != null">
        <h4>Begin Date</h4>
        <span class="no-select">{{participantsCtrl.formatDate(participantsCtrl.beginDateTime)}}</span>
      </div>
      <div layout="column" class="filter-log-item" ng-show="participantsCtrl.endDateTime != undefined || participantsCtrl.endDateTime != null">
        <h4>End Date</h4>
        <span class="no-select">{{participantsCtrl.formatDate(participantsCtrl.endDateTime)}}</span>
      </div>
      <div flex></div>
      <md-button ng-click="participantsCtrl.clearFilter()" class="md-primary">
        Clear Filter
      </md-button>
    </div>

    <div ng-show="participantsCtrl.listParticipants.length === 0" layout="column" layout-align="center center">
      <div class="div-there-nothing" align="center" layout-align="center center">
        <ng-md-icon icon="account_circle" size="80" class="img_menu"></ng-md-icon>
      </div>
      <span class="there-nothing" translate="INFO_NO_PARTICIPANT_ID"></span>
    </div>

    <div ng-show="participantsCtrl.listParticipants.length > 0">

      <md-content layout="column">
        <div flex="50">
          <md-content class="md-padding" layout="column">
            <md-input-container flex class="md-has-icon md-has-chip"
                                ng-class="participantsCtrl.games.length > 0 ? 'label-chips-active': ''">
              <label class="label-chips" translate="GAMES_ID"></label>
              <ng-md-icon icon="vidiogame_asset"></ng-md-icon>
              <md-chips ng-model="participantsCtrl.games" md-autocomplete-snap md-require-match="true"
                        md-on-add="participantsCtrl.filter()">
                <button md-chip-remove class="md-primary md-chip-remove" ng-click="participantsCtrl.removeGame($chip)">
                  <md-icon md-svg-icon="md-close"></md-icon>
                </button>
                <md-autocomplete
                  md-input-name="games-autocomplete"
                  md-search-text="participantsCtrl.searchGameText"
                  md-items="game in participantsCtrl.querySearchGame(participantsCtrl.searchGameText)"
                  md-item-text="game"
                  md-min-length="1"
                  md-delay="300">
                  <span md-highlight-text="participantsCtrl.searchGameText">{{ game.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                  <span>
                    <em>{{$chip.name}}</em>
                  </span>
                </md-chip-template>
              </md-chips>
            </md-input-container>
          </md-content>
        </div>
        <div flex="50">
          <md-content class="md-padding" layout="column">
            <md-input-container flex class="md-has-icon md-has-chip"
                                ng-class="participantsCtrl.regions.length > 0 ? 'label-chips-active': ''">
              <label class="label-chips" translate="REGIONS_ID"></label>
              <ng-md-icon icon="room"></ng-md-icon>
              <md-chips ng-model="participantsCtrl.regions" md-autocomplete-snap md-require-match="true"
                        md-on-add="participantsCtrl.filter()">
                <button md-chip-remove class="md-primary md-chip-remove"
                        ng-click="participantsCtrl.removeRegion($chip)">
                  <md-icon md-svg-icon="md-close"></md-icon>
                </button>
                <md-autocomplete
                  md-search-text="participantsCtrl.searchRegionText"
                  md-items="region in participantsCtrl.querySearchRegion(participantsCtrl.searchRegionText)"
                  md-item-text="region"
                  md-min-length="1"
                  md-delay="300">
                  <span md-highlight-text="participantsCtrl.searchRegionText">{{ region.name }}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <em>{{$chip.name}}</em>
                    </span>
                </md-chip-template>
              </md-chips>
            </md-input-container>
          </md-content>
        </div>
      </md-content>

      <br/>

      <div layout="row">
        <div flex="15" align="center">
          <span ng-click="participantsCtrl.orderBy('location__location_country')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('location__location_country')}}" id="country">{{'COUNTRY_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('location__location_country')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('location__location_country')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="participantsCtrl.orderBy('player__game__name')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('player__game__name')}}" id="name">{{'GAME_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__game__name')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__game__name')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="participantsCtrl.orderBy('player__email')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('player__email')}}" id="email">{{'EMAIL_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__email')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__email')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="participantsCtrl.orderBy('player__gpg_id')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('player__gpg_id')}}" id="gpg_id">{{'GPG_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__gpg_id')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('player__gpg_id')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="15" align="center">
          <span ng-click="participantsCtrl.orderBy('campaign__name')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('campaign__name')}}" id="campaign_name">{{'CAMPAIGN_S_NAME_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('campaign__name')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('campaign__name')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="20" align="center">
          <span ng-click="participantsCtrl.orderBy('registered_at')">
            <a class="table-header-text-{{participantsCtrl.checkLastField('registered_at')}}"
              id="registered_at">{{'REGISTERED_DATE' | translate}}

              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="participantsCtrl.ascendant && participantsCtrl.isLastSortedField('registered_at')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!participantsCtrl.ascendant && participantsCtrl.isLastSortedField('registered_at')"></ng-md-icon>
            </a>
          </span>
        </div>
      </div>

      <md-divider></md-divider>

      <md-card class="card-list">
        <md-card-content>
          <md-list infinite-scroll="participantsCtrl.nextList()">
            <md-item ng-repeat="participant in participantsCtrl.list">
              <md-item-content>
                <md-toolbar>
                  <div flex="auto" class="md-toolbar-tools">
                    <div flex="15" layout="row">
                      <span
                        class="flag-icon flag-icon-squared flag-icon-{{participantsCtrl.lowercaseCountryCode(participant.location.location_country_code)}}">
                      </span>
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.location.location_country}}
                            <md-tooltip md-direction="top">{{participant.location.location_country}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.player.game.name}}
                            <md-tooltip md-direction="top">{{participant.player.game.name}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.player.email}}
                            <md-tooltip md-direction="top">{{participant.player.email}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.player.gpg_id}}
                            <md-tooltip md-direction="top">{{participant.player.gpg_id}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="15">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.campaign.name}}
                            <md-tooltip md-direction="top">{{participant.campaign.name}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                    <div flex="20">
                      <h4 class="truncate-long-texts">
                        <span>
                            {{participant.registered_at | date:'medium'}}
                            <md-tooltip md-direction="top">{{participant.registered_at|date:'medium'}}</md-tooltip>
                        </span>
                      </h4>
                    </div>
                  </div>
                </md-toolbar>
              </md-item-content>
            </md-item>
            <md-divider></md-divider>
          </md-list>
        </md-card-content>
      </md-card>

    </div>
  </div>
</div>

<gmm-fab gmm-fab-controller="participantsCtrl.export" tooltip="'PUSH_SEND_ID' | translate" first-icon="'system_update'" click-go="participantsCtrl.sendPush">
  <gmm-fab-actions>
    <md-button aria-label="export" class="md-fab md-raised md-mini" ng-csv="gmmFabController.getCsvExport()"
               filename="{{gmmFabController.fileName}}" csv-header="gmmFabController.participantHeader()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        {{'EXPORT_CSV_ID' | translate}}
      </md-tooltip>
      <ng-md-icon icon="archive" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>

    <md-button aria-label="email" class="md-fab md-raised md-mini" ng-click="gmmFabController.sendEmail()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        {{'SEND_EMAIL_ID' | translate}}
      </md-tooltip>
      <ng-md-icon icon="email" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>
  </gmm-fab-actions>
</gmm-fab>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp sidenav-filter" md-component-id="right">
  <md-toolbar class="md-theme-light md-primary-gmm">
    <h1 class="md-toolbar-tools" translate="PERIOD_ACTIVITY_ID"></h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-content layout="column">
      <md-divider class="md-padding">
        <small class="md-caption-period" translate="PERIOD_ACTIVITY_ID"></small>
      </md-divider>

      <div flex="50">
        <md-content layout="column">
          <gmm-date date-name="'BEGIN_DATE_ID' | translate" filter="participantsCtrl.filter()" ng-model="participantsCtrl.beginDateTime">
          </gmm-date>
        </md-content>
      </div>

      <div flex="50">
        <md-content layout="column">
          <gmm-date date-name="'END_DATE_ID' | translate" filter="participantsCtrl.filter()" ng-model="participantsCtrl.endDateTime">
          </gmm-date>
        </md-content>
      </div>
    </md-content>

    <div layout="row" layout-align="center center">
      <md-button ng-click="participantsCtrl.clearFilter()" class="md-primary">
        {{'CLEAR_ID' | translate}}
      </md-button>
      <md-button ng-click="participantsCtrl.closeSidenavFilter()" class="md-primary">
        {{'CLOSE_ID' | translate}}
      </md-button>
    </div>
  </md-content>
</md-sidenav>
