<md-dialog class="md-dialog-show" aria-label="login">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>You need to sign in up before continuing</h2>
    </div>
  </md-toolbar>
  <md-dialog-content class="dialog-login">
    <div layout="column" layout-padding>
      <form name="loginForm" ng-controller="LoginController as loginCtrl">
        <div layout="row" layout-align="center center" flex>
          <ng-md-icon flex="10" icon="person"></ng-md-icon>
          <md-input-container flex="90" class="md-block">
            <label>Login</label>
            <input id="loginInput" name="login" ng-model="loginCtrl.account.login" type="text" required>
          </md-input-container>
        </div>
        <div layout="row" flex>
          <ng-md-icon flex="10" icon="vpn_key"></ng-md-icon>
          <md-input-container flex="90" class="md-block">
            <label>Password</label>
            <input id="passwordInput" name="password" ng-model="loginCtrl.account.password" type="password" required>
          </md-input-container>
        </div>
        <div layout="row" layout-align="center center" flex>
          <div class="alert-danger" ng-if="loginCtrl.invalidLogin">Invalid login or password</div>
        </div>
        <div align="center">
          <md-button id="loginBtn" ng-disabled="loginForm.login.$invalid || loginForm.password.$invalid"
                     class="md-raised md-primary" type="submit" ng-click="loginCtrl.login()">Login
          </md-button>
        </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>
