<div class="gmm-form-generator md-whiteframe-z1">
  <div ng-repeat="child in getFirstChild(formJson)">
    <div ng-init="keyName = getKeyName(child)" class="gmm-form-generator-input">
      <md-input-container ng-init="msnTootip = getDescription(keyName)">
        <label>{{keyName}}</label>

        <div ng-init="value = getModelInput(child)">
          <md-tooltip class="md-tooltip-config" ng-if="msnTootip != null" md-direction="right">
            {{msnTootip}}
          </md-tooltip>
          <input ng-if="value == ''" type="text" ng-model="child[keyName]" aria-label="keyName"
                 ng-disabled="disableOption"
                 required/>
          <input ng-if="value != ''" type="text" ng-model="value" aria-label="keyName" ng-disabled="true"
                 required/>
        </div>
      </md-input-container>
    </div>
  </div>
</div>
