<form name="datetimeForm">
<div layout="row" flex="100">
  <md-input-container flex="auto" class="md-has-icon" ng-class="datetimeForm.datetime.$viewValue ? 'md-input-has-placeholder' : ''">
    <label>
      {{datetimeName}}
      <small class="md-caption" ng-show="!datetimeOptional">*</small>
    </label>
    <ng-md-icon icon="event"></ng-md-icon>
    <input aria-label="date-time" type="text" datetime-picker="MM-dd-yyyy HH:mm" ng-click="openCalendar($event, prop)"
           ng-model="dateTimeModel" min-date="dateTimeMin" is-open="isOpen" required="!datetimeOptional"
           ng-disabled="ngDisabled" name="datetime" ng-pattern='/^(\d{2})-(\d{2})-(\d{4})\s(\d{2}):(\d{2})$/'
           ng-change="ngOnChange()"
    />
    <div ng-messages="datetimeForm.datetime.$error" class="gmm-error-datetime">
      <div ng-message="datetime" ng-show="datetimeForm.datetime.$error.datetime && datetimeForm.datetime.$touched">Enter a valid date.</div>
      <div ng-message="required" ng-show="datetimeForm.datetime.$error.required && datetimeForm.datetime.$touched && datetimeOptional">This field is required.</div>
    </div>
  </md-input-container>
</div>
</form>

