<div layout="row" layout-wrap ng-if="game.push_templates.length > 0"
     ng-controller="MultiPushController as multiPushCtrl">
  <div flex="33" ng-repeat="pushValue in multiPushCtrl.game.formPushValues">
    <md-card ng-init="details = true"
             class="card-campaign-configuration card-campaign-configuration-active">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline" translate="PUSH_CONFIGURATION_ID"></span>
          <span class="md-subhead">{{multiPushCtrl.game.name}}</span>
                          <span
                            class="md-subhead">{{campaignCtrl.getNamePushTemplate(pushValue.form_push_template)}}
                          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="start center">
        <md-button class="md-warn md-raised md-hue-2"
                   ng-click="multiPushCtrl.removeGamePushConfig(multiPushCtrl.game, pushValue)"
                   ng-disabled="disabledAdd()" aria-label="btRemove" translate="REMOVE_ID">
        </md-button>
        <md-card-icon-actions>
          <md-button class="md-icon-button" aria-label="toggle" ng-click="details = !details">
            <ng-md-icon ng-if="!details" icon="keyboard_arrow_down"></ng-md-icon>
            <ng-md-icon ng-if="details" icon="keyboard_arrow_up"></ng-md-icon>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
      <md-card-content ng-show="details">

        <md-divider layout-padding ng-if="pushValue.push_timezone"></md-divider>

        <div layout="column">
          <div layout="row" layout-align="space-between center" ng-if="pushValue.push_timezone">
            <span translate="TIMEZONE_ID"></span>
            <span>{{pushValue.push_timezone}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="pushValue.push_begin_date">
            <span translate="BEGIN_DATE_ID"></span>
            <span>{{pushValue.push_begin_date | date:'medium'}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="pushValue.push_end_date">
            <span translate="END_DATE_ID"></span>
            <span>{{pushValue.push_end_date | date:'medium'}}</span>
          </div>
        </div>

        <json-formatter class="md-padding"
                        json="pushValue.data"
                        open="1">
        </json-formatter>
      </md-card-content>
    </md-card>
  </div>
  <md-card class="card-campaign-configuration card-campaign-configuration-push">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" translate="PUSH_CONFIGURATION_ID"></span>
        <span class="md-subhead">{{multiPushCtrl.game.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised"
                 ng-click="multiPushCtrl.showPushConfigDialog($event, multiPushCtrl.game)"
                 ng-disabled="disabledAdd()" aria-label="btAdd" translate="ADD_ID">
      </md-button>
    </md-card-actions>
  </md-card>
</div>
