.nestedDemo ul[dnd-list],
.nestedDemo ul[dnd-list] > li {
  position: relative;
}

.nestedDemo .dropzone ul[dnd-list] {
  min-height: 42px;
  margin: 0px;
  padding-left: 0px;
}

.nestedDemo .dropzone li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  padding: 0px;
}

.nestedDemo .dropzone .dndDragging {
  opacity: 0.7;
}

.nestedDemo .dropzone .dndDraggingSource {
  display: none;
}

.nestedDemo .dropzone .dndPlaceholder {
  background-color: #ddd;
  min-height: 42px;
  display: block;
  position: relative;
}

.nestedDemo .dropzone .item:hover {
  color: white;
  background-color: #8C9EFF;
}

.nestedDemo .dropzone .selected .box {
  border-color: #d6e9c6;
}

.nestedDemo .dropzone .box .form-container:hover {
  background-color: #8C9EFF;
}

.nestedDemo .dropzone .item {
  padding: 10px 15px;
}

.nestedDemo .dropzone .container-element {
  margin: 10px;
}

.nestedDemo .dropzone .container-element .column {
  float: left;
  width: 100%;
}

.nestedDemo .toolbox ul {
  list-style: none;
  padding-left: 0px;
  cursor: move;
}

.nestedDemo .toolbox button {
  margin: 5px;
  width: 140px;
  opacity: 1.0;
}

.nestedDemo .toolbox .dndDragging {
  opacity: 0.5;
}

.nestedDemo .toolbox .dndDraggingSource {
  opacity: 1.0;
}

.nestedDemo .trashcan ul {
  list-style: none;
  padding-left: 0px;
}

.nestedDemo .trashcan img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  max-height: 50px;
}

.nestedDemo .trashcan .dndDragover img {
  width: 100%;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  background-color: red;
}

.nestedDemo .trashcan .dndPlaceholder {
  display: none;
}

.nestedDemo .trashcan-li {
  width: 100%;
}

.nestedDemo md-input-container .md-errors-spacer {
  min-height: 0px;
  min-width: 0px;
}

.nestedDemo md-input-container {
  padding: 0px;
  margin: 0px;
}

.nestedDemo .drop {
  position: absolute;
  width: 100%;
}

.nestedDemo .drop-span {
  color: #607D8B;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding-right: 50px;
}

.message-validate {
  color: red;
}

.gmm-form-generator-conteiner {
  margin-bottom: 30px;
}

.gmm-form-generator-conteiner .gmm-form-generator-input {
  margin-left: 15px;
}

.gmm-form-generator-conteiner .gmm-form-generator-conteiner {
  padding: 10px;
}

.gmm-form-generator {
  padding: 10px;
  padding-top: 30px;
}

.gmm-form-generator md-toolbar {
  height: 50px;
  min-height: 10px;
}

.gmm-form-generator md-input-container {
  margin: 0px;
}

md-divider .md-caption {
  margin-left: -15px;
}

.menu-form-cofiguration {
  position: absolute;
  margin-left: 88%;
  color: #607D8B;
  z-index: 2;
}

.menu-form-cofiguration ng-md-icon[icon = "delete"]:hover {
  color: red;
}

.menu-form-cofiguration ng-md-icon:hover {
  color: #3b8bd1;
}

.form-container {
  padding: 20px;
}

.form-container md-input-container {
  margin-bottom: -30px;
  margin-left: 3px;
  margin-right: 3px;
}

#botton-item {
  background-color: #3F51B5;
  color: white;
}

#botton-container {
  background-color: #FF4081;
  color: white;
}

.tag-action {
  max-width: 5%;
  background-color: #FF4081;
}

.tag-value {
  max-width: 2%;
  background-color: #3F51B5;
}

.form-container:hover md-input-container.md-input-focused:not(.md-input-invalid) label {
  color: #61F2D7 !important;
}

.form-container:hover md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  color: white;
  border-color: #61F2D7 !important;
}

md-tooltip.md-tooltip-config ._md-content, md-tooltip.md-tooltip-config  .md-content {
  background-color: white !important;
}

md-tooltip.md-tooltip-config {
  color: black;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px;
}
