.dialog-login ng-md-icon, .login-content-padding ng-md-icon {
  position: relative;
  padding-bottom: 30px;
  padding-right: 30px;
}

.dialog-login .alert-danger {
  background-color: transparent;
  position: relative;
  padding-bottom: 20px;
}

.dialog-login md-input-container, .login-content-padding md-input-container{
  margin-bottom: 0px;
}

.dialog-login {
  margin-left: 18%;
  margin-right: 20%;
}
