<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">
    <md-content layout-padding>
      <form name="generalForm">
        <div layout="column">
          <div layout="row" layout-align="end center">
            <p>
              <small class="md-caption" translate="REQUIRED_FIELDS_ID"></small>
            </p>
          </div>
          <div layout="row">
            <md-input-container class="md-has-icon" flex="50">
              <label>{{'UPDATE_TIME_PUSH_ID' | translate}}
                <small class="md-caption">*</small>
              </label>
              <ng-md-icon icon="system_update"></ng-md-icon>
              <input required type="number" min="{{generalCtrl.MIN_UPDATE_TIME_PUSH}}" max="86400" pattern="^[0-9]*$"
                     ng-model="generalCtrl.general.update_time_push"
                     name="generalUpdateTimePush" title="{{'INFO_TOOLTIP_SCHEDULE_PUSH_ID' | translate}}">

              <div
                ng-messages="generalForm.generalUpdateTimePush.$error && generalForm.generalUpdateTimePush.$touched">
                <div ng-message='required'
                     ng-show="generalForm.generalUpdateTimePush.$error.required && !generalForm.generalUpdateTimePush.$error.number && !generalForm.generalUpdateTimePush.$error.min"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>

                <div ng-message='number'
                     ng-show="!generalForm.generalUpdateTimePush.$error.required && generalForm.generalUpdateTimePush.$error.number && !generalForm.generalUpdateTimePush.$error.min"
                     translate="ONLY_NUMBERS_ALLOWED_ID">
                </div>

                <div ng-message='min'
                     ng-show="!generalForm.generalUpdateTimePush.$error.required && !generalForm.generalUpdateTimePush.$error.number && generalForm.generalUpdateTimePush.$error.min"
                     translate="ONLY_NUMBERS_GREATER_THAN_ID" translate-value-number="{{generalCtrl.MIN_UPDATE_TIME_PUSH}}">
                </div>

                <div ng-message="max" ng-show="!generalForm.generalUpdateTimePush.$error.required && !generalForm.generalUpdateTimePush.$error.number &&
                                                generalForm.generalUpdateTimePush.$error.max"
                     translate="INFO_FIELD_MAX_NUMBER_ID" translate-value-number="86400">
                </div>
              </div>
            </md-input-container>
          </div>


          <div layout="row">
            <md-input-container class="md-has-icon" flex="50">
              <label>{{'UPDATE_TIME_PARTICIPANT_NUMBER_ID' | translate}}
                <small class="md-caption">*</small>
              </label>
              <ng-md-icon icon="group"></ng-md-icon>
              <input required type="number" min="{{generalCtrl.MIN_UPDATE_TIME_PARTICIPANT_PUSH}}" max="{{generalCtrl.general.update_time_refresh_token}}" pattern="^[0-9]*$"
                     ng-model="generalCtrl.general.update_time_participant_number"
                     name="generalUpdateTimeParticipantNumber" title="{{'INFO_TOOLTIP_UPDATE_PARTICIPANTS_NUMBER_ID' | translate}}">

              <div
                ng-messages="generalForm.generalUpdateTimeParticipantNumber.$error && generalForm.generalUpdateTimeParticipantNumber.$touched">
                <div ng-message='required'
                     ng-show="generalForm.generalUpdateTimeParticipantNumber.$error.required && !generalForm.generalUpdateTimeParticipantNumber.$error.number &&
                              !generalForm.generalUpdateTimeParticipantNumber.$error.min"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>

                <div ng-message='number'
                     ng-show="!generalForm.generalUpdateTimeParticipantNumber.$error.required && generalForm.generalUpdateTimeParticipantNumber.$error.number &&
                              !generalForm.generalUpdateTimeParticipantNumber.$error.min"
                     translate="ONLY_NUMBERS_ALLOWED_ID">
                </div>

                <div ng-message='min'
                     ng-show="!generalForm.generalUpdateTimeParticipantNumber.$error.required && !generalForm.generalUpdateTimeParticipantNumber.$error.number &&
                              generalForm.generalUpdateTimeParticipantNumber.$error.min"
                     translate="ONLY_NUMBERS_GREATER_THAN_ID" translate-value-number="{{generalCtrl.MIN_UPDATE_TIME_PARTICIPANT_PUSH}}">
                </div>

                <div ng-message="max" ng-show="!generalForm.generalUpdateTimeParticipantNumber.$error.required && !generalForm.generalUpdateTimeParticipantNumber.$error.number &&
                              generalForm.generalUpdateTimeParticipantNumber.$error.max"
                     translate="INFO_FIELD_MAX_NUMBER_ID" translate-value-number="{{generalCtrl.general.update_time_refresh_token}}">
                </div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-has-icon" flex="50">
              <label>{{'UPDATE_TIME_REFRESH_TOKEN_ID' | translate}}
                <small class="md-caption">*</small>
              </label>
              <ng-md-icon icon="schedule"></ng-md-icon>
              <input required type="number" pattern="^[0-9]*$" min="{{generalCtrl.MIN_UPDATE_TIME_REFRESH_TOKEN}}" max="21600"
                     ng-model="generalCtrl.general.update_time_refresh_token"
                     name="generalUpdateTimeRefreshToken" title="{{'INFO_TOOLTIP_UPDATE_TIME_REFRESH_TOKEN_ID' | translate}}">

              <div
                ng-messages="generalForm.generalUpdateTimeRefreshToken.$error && generalForm.generalUpdateTimeRefreshToken.$touched">
                <div ng-message='required'
                     ng-show="generalForm.generalUpdateTimeRefreshToken.$error.required && !generalForm.generalUpdateTimeRefreshToken.$error.number &&
                              !generalForm.generalUpdateTimeRefreshToken.$error.min"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>

                <div ng-message='number'
                     ng-show="!generalForm.generalUpdateTimeRefreshToken.$error.required && generalForm.generalUpdateTimeRefreshToken.$error.number &&
                              !generalForm.generalUpdateTimeRefreshToken.$error.min"
                     translate="ONLY_NUMBERS_ALLOWED_ID">
                </div>

                <div ng-message='min'
                     ng-show="!generalForm.generalUpdateTimeRefreshToken.$error.required && !generalForm.generalUpdateTimeRefreshToken.$error.number &&
                              generalForm.generalUpdateTimeRefreshToken.$error.min"
                     translate="ONLY_NUMBERS_GREATER_THAN_ID" translate-value-number="{{generalCtrl.MIN_UPDATE_TIME_REFRESH_TOKEN}}">
                </div>

                <div ng-message="max" ng-show="!generalForm.generalUpdateTimeRefreshToken.$error.required && !generalForm.generalUpdateTimeRefreshToken.$error.number &&
                              generalForm.generalUpdateTimeRefreshToken.$error.max"
                     translate="INFO_FIELD_MAX_NUMBER_ID" translate-value-number="21600">
                </div>
              </div>
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-has-icon" flex="50">
              <label>{{'CLIENT_ID_ANALYTICS_ID' | translate}}</label>
              <ng-md-icon icon="show_chart"></ng-md-icon>
              <input type="text" ng-model="generalCtrl.general.update_analytics_client_id" md-maxlength="254"
                     name="generalClientIdAnalytics" >
              <div ng-messages="generalForm.generalClientIdAnalytics.$error && generalForm.generalClientIdAnalytics.$touched">
                <div ng-message="max" ng-show="!generalForm.generalClientIdAnalytics.$error.required && !generalForm.generalClientIdAnalytics.$error.number &&
                              generalForm.generalClientIdAnalytics.$error['md-maxlength']"
                     translate="INFO_FIELD_MAX_NUMBER_ID" translate-value-number="254">
                </div>
              </div>

            </md-input-container>
          </div>

          <div layout="row" layout-align="end center">
            <button ng-disabled="generalCtrl.disabled()" ladda="generalCtrl.buttonSave" ng-click="generalCtrl.save($event)"
                    data-spinner-size="30" data-style="expand-left">
              {{generalCtrl.buttonText | translate}}
            </button>
            <md-button md-no-ink ng-click="generalCtrl.cancel($event)" class="md-primary">{{'CANCEL_ID' | translate}}</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </div>
</div>
