<form name="dateForm">
  <div layout="row" flex="100">
    <md-input-container flex="auto" class="md-has-icon"
                        ng-class="dateForm.datetime.$viewValue ? 'md-input-has-placeholder' : ''">
      <label>
        {{dateName | translate}}
      </label>
      <ng-md-icon icon="event"></ng-md-icon>
      <input aria-label="date" type="text" datetime-picker="MM-dd-yyyy HH:mm" ng-click="openCalendar($event, prop)"
             ng-model="dateModel" is-open="isOpen" name="datetime" ng-disabled="disable"/>

      <div ng-messages="dateForm.datetime.$error" class="gmm-error-datetime">
        <div ng-message="datetime" ng-show="dateForm.datetime.$error.datetime && dateForm.datetime.$touched"
             translate="INFO_FIELD_REQUIRED_ID">
        </div>
      </div>
    </md-input-container>
  </div>
</form>
