<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">

    <div ng-show="regionCtlList.list.length === 0" layout="column" layout-align="center center">
      <div class="div-there-nothing" align="center" layout-align="center center">
        <ng-md-icon icon="room" size="80" class="img_menu"></ng-md-icon>
      </div>
      <span class="there-nothing" translate="INFO_NO_REGION_ID"></span>
    </div>

    <div ng-show="regionCtlList.list.length > 0">

      <div layout="row">
        <div flex="50" align="center">
          <span ng-click="regionCtlList.orderBy('name')">
            <a class="table-header-text-{{regionCtlList.checkLastField('name')}}" id="name">{{'NAME_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down" ng-show="regionCtlList.ascendant && regionCtlList.isLastSortedField('name')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!regionCtlList.ascendant && regionCtlList.isLastSortedField('name')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="50" align="center">
          <span ng-click="regionCtlList.orderBy('modified_date')">
            <a class="table-header-text-{{regionCtlList.checkLastField('modified_date')}}" id="modified_date">
              {{'LAST_UPDATE_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down" ng-show="regionCtlList.ascendant && regionCtlList.isLastSortedField('modified_date')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up" ng-show="!regionCtlList.ascendant && regionCtlList.isLastSortedField('modified_date')"></ng-md-icon>
            </a>
          </span>
        </div>
      </div>

      <md-divider></md-divider>

      <div layout="row" layout-wrap layout-align="start center" infinite-scroll="regionCtlList.nextList()">
        <div flex="auto" ng-repeat="region in regionCtlList.list">
          <md-card class="card-list-banner card-list-region" layout="column"
                   ng-click="regionCtlList.showDialog($event, region)">

            <div flex="50" class="card-list-banner-content">
              <div layout-align="center center" layout="row">
                <div flex="90">
                  <h4 class="truncate-long-texts"> {{region.name}}</h4>
                </div>
                <div flex="10">
                  <div layout="row" layout-align="center center" class="circle circle-list"
                       ng-attr-style="background: {{region.color}}">
                    <span>{{region.name.charAt(0)}}</span>
                  </div>
                </div>
              </div>
              <div layout="column">
                <small class=".truncate-long-texts">
                  <span translate="COUNTRIES_ID"></span>
                  <span>{{regionCtlList.getCountriesNames(region.countries)}}</span>
                </small>
              </div>
            </div>
            <div layout="row">
              <div layout-padding flex layout-align="start end">
                <spam class="card-last-update">{{region.modified_date | date:'medium'}}</spam>
              </div>
            </div>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</div>

<gmm-fab tooltip="'NEW_REGION_ID' | translate" stage-go="'home.settings.region.create'" gmm-fab-controller="regionCtlList.export">
  <gmm-fab-actions>
    <md-button aria-label="export" class="md-fab md-raised md-mini" ng-csv="gmmFabController.getCsvExport()"
               filename="{{gmmFabController.fileName}}" csv-header="gmmFabController.regionHeader()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        {{'EXPORT_CSV_ID' | translate}}
      </md-tooltip>
      <ng-md-icon icon="archive" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>
  </gmm-fab-actions>
</gmm-fab>
