<md-dialog class="md-dialog-show" aria-label="Banner">
  <form>
    <md-dialog-content>
      <uib-carousel class="card-image-content" interval="dialogCtrl.myInterval" no-wrap="dialogCtrl.noWrapSlides"
                    layout-align="center center" layout="row" no-transition="true">
        <uib-slide ng-repeat="banner in dialogCtrl.banner.banners" active="slide.active">

          <img ng-src="{{banner.image_url}}" class="banner-card-item-list">

          <div class="carousel-caption">
            <div hidden>
              {{banner.activate = slide.active}}
              {{banner.index = ($index + 1)}}
            </div>
          </div>
        </uib-slide>
      </uib-carousel>
      <div class="card-list-banner-content">
        <br>

        <div layout="column" ng-repeat="banner in dialogCtrl.banner.banners | filter:true">
          <small>
            <span>{{banner.index}} | {{'URL_TARGET_ID' | translate}}</span>&nbsp<a
            target="_blank">{{banner.target_url}}</a>
          </small>
          <small>
            <span translate="LANGUAGE_ID"></span>&nbsp
            <span>{{dialogCtrl.getLanguageName(banner.language)}}</span>
          </small>
          <small>
            <span translate="BANNER_NAME_ID"></span>&nbsp
            <span>{{banner.name}}</span>
          </small>
          <div layout="row">
            <small>
              <span translate="BANNER_NUMBER_CLICK_ID"></span>&nbsp
              <span>{{banner.numberClick}}</span>
            </small>
            <md-fab-speed-dial ng-if="banner.analyticsLinks.length > 0"
                               md-direction="left"
                               class="md-scale fab-link-analytics">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn bt-link-analytics">
                  <md-tooltip md-direction="top">
                    <span translate="BANNER_LINK_TO_ANALYTICS_ID"></span>
                  </md-tooltip>
                  <ng-md-icon icon="show_chart"></ng-md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button ng-repeat="linkAnalytics in banner.analyticsLinks"
                           href="{{linkAnalytics.link}}"
                           aria-label="{{linkAnalytics.game}}"
                           class="md-fab md-raised md-mini" >
                  <img src="{{linkAnalytics.gameImage}}" class="md-fab md-raised md-mini img-link-analytics">
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
          </div>
        </div>

        <div layout="row">
          <h3>{{dialogCtrl.banner.banner_configuration_name}}</h3>

          <h3 class="card-warn padding-left"><i>({{dialogCtrl.banner.banners.length}})</i></h3>
        </div>
        <div layout="column">
          <small>
            <span translate="CAMPAIGNS_ID"></span>

            <span ng-if="dialogCtrl.getCampaignsNames(dialogCtrl.banner).length === 0" class="no-entity-associated">
              &nbsp {{'NO_CAMPAIGN_ASSOCIATED_ID' | translate}}
            </span>
            <span ng-if="dialogCtrl.getCampaignsNames(dialogCtrl.banner).length > 0">
              &nbsp{{dialogCtrl.getCampaignsNames(dialogCtrl.banner)}}
            </span>
          </small>
          <div layout="column">
            <small class=".truncate-long-texts">
              <span translate="BEGIN_DATE_ID"></span>
            <span class="truncate-long-texts" ng-if="dialogCtrl.banner.begin_date">
              &nbsp{{dialogCtrl.banner.begin_date | date:'medium'}}</span>
              <span ng-if="!dialogCtrl.banner.begin_date" class="no-entity-associated">
                &nbsp{{'NO_DATES_ID' | translate}}
              </span>
            </small>

            <small class=".truncate-long-texts">
              <span translate="END_DATE_ID"></span>
              <span ng-if="dialogCtrl.banner.end_date" class="truncate-long-texts">
              &nbsp{{dialogCtrl.banner.end_date | date:'medium'}}
              </span>
              <span ng-if="!dialogCtrl.banner.end_date" class="no-entity-associated">
              No dates
              </span>
            </small>

          </div>

          <small>
            <span translate="GAMES_ID"></span>&nbsp{{dialogCtrl.getGamesNames(dialogCtrl.banner)}}
          </small>

          <div layout="row" layout-wrap layout-align="start center">

            <div layout="row" layout-align="start center" flex="50"
                 ng-repeat="region in dialogCtrl.banner.regions">

              <div layout="row" layout-align="start center" ng-if="region.countries.length <= 1">
                <span
                  class="flag-icon flag-icon-squared flag-icon-{{dialogCtrl.lowercaseCountryCode(region.countries[0].country_code)}}">
                </span>
                <span layout-padding>{{ region.countries[0].country_name }}</span>
              </div>

              <div layout="row" layout-align="start center" ng-if="region.countries.length > 1">
                <div layout="row" layout-align="center center" class="circle circle-list"
                     ng-attr-style="background: {{region.color}}">
                  <span>{{region.name.charAt(0)}}</span>
                </div>
                <span layout-padding>{{region.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <md-button layout-align="center center" class="md-icon-button close-dialog" ng-click="dialogCtrl.cancel()"
                 aria-label="close" autofocus>
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </md-dialog-content>
    <md-dialog-actions layout="row" md-autofocus>
      <md-button ng-click="dialogCtrl.cancel()" layout-align="center center" class="md-icon-button" aria-label="Edit"
                 ui-sref="home.banner.edit({bannerId:dialogCtrl.banner.id})">
        <md-tooltip md-direction="top">{{'BANNER_EDIT_ID' | translate}}</md-tooltip>
        <ng-md-icon icon="mode_edit"></ng-md-icon>
      </md-button>
      <md-button ng-show="dialogCtrl.banner.active" ng-click="dialogCtrl.activate($event, false)"
                 layout-align="center center"
                 class="md-icon-button"
                 aria-label="block">
        <md-tooltip md-direction="top">{{'DISABLE_BANNER_ID' | translate}}</md-tooltip>
        <ng-md-icon icon="block"></ng-md-icon>
      </md-button>
      <md-button ng-show="!dialogCtrl.banner.active" ng-click="dialogCtrl.activate($event, true)"
                 layout-align="center center"
                 class="md-icon-button"
                 aria-label="block">
        <md-tooltip md-direction="top">{{'ENABLE_BANNER_ID' | translate}}</md-tooltip>
        <ng-md-icon icon="check_circle"></ng-md-icon>
      </md-button>
      <span flex></span>
      <spam ng-show="dialogCtrl.banner.active" layout-padding class="status-banner" translate="ENABLED_ID"></spam>
      <spam ng-show="!dialogCtrl.banner.active" layout-padding class="status-banner" translate="DISABLED_ID"></spam>
    </md-dialog-actions>
  </form>
</md-dialog>
