<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">
    <div layout="column" class="md-inline-form">
      <md-content layout-padding>
        <form name="bannerForm" novalidate>
          <div layout="column">
            <div layout="row" layout-align="end center">
              <p>
                <small class="md-caption" translate="REQUIRED_FIELDS_ID"></small>
              </p>
            </div>

            <div layout="column">
              <md-input-container class="md-has-icon" flex>
                <label>{{'BANNER_NAME_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="description"></ng-md-icon>
                <input md-maxlength="50" type="text" min="3" name="bannerConfigurationName"
                       ng-model="bannerCtrl.banner.banner_configuration_name"
                       required>

                <div ng-messages="bannerForm.bannerConfigurationName.$error">
                  <div ng-message="required" ng-show="bannerForm.bannerConfigurationName.$error.required"
                       translate="INFO_FIELD_REQUIRED_ID">
                  </div>
                  <div ng-message="md-maxlength" ng-show="bannerForm.bannerConfigurationName.$error['md-maxlength']"
                       translate="INFO_FIELD_MAX_LENGTH_ID" translate-value-number="50">
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout="column" class="gmm-margin-top-negative">
              <md-input-container flex
                                  class="md-has-icon md-has-chip"
                                  ng-class="[bannerForm['games-autocomplete'].$touched && bannerCtrl.games.length == 0 ? 'md-input-invalid' : '', bannerCtrl.games.length > 0 ? 'label-chips-active': '']">
                <label class="label-chips">{{'GAMES_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="vidiogame_asset"></ng-md-icon>
                <md-chips ng-model="bannerCtrl.games" md-autocomplete-snap md-require-match="true">
                  <md-autocomplete
                    md-input-name="games-autocomplete"
                    md-search-text="bannerCtrl.searchGameText"
                    md-items="game in bannerCtrl.querySearchGame(bannerCtrl.searchGameText)"
                    md-item-text="game"
                    md-min-length="1"
                    md-delay="300">
                    <span md-highlight-text="bannerCtrl.searchGameText">{{ game.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                  <span>
                    <em>{{$chip.name}}</em>
                  </span>
                  </md-chip-template>
                </md-chips>
                <div class="gmm-banner-chips"
                     ng-show="bannerForm['games-autocomplete'].$touched && bannerCtrl.games.length == 0"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>
              </md-input-container>
            </div>

            <div layout="row" class="gmm-margin-top">
              <md-input-container flex
                                  class="md-has-icon md-has-chip"
                                  ng-class="[bannerForm['regions-autocomplete'].$touched && bannerCtrl.regions.length == 0 ? 'md-input-invalid' : '', bannerCtrl.regions.length > 0 ? 'label-chips-active': '']">
                <label class="label-chips">{{'REGIONS_ID' | translate}}
                  <small class="md-caption">*</small>
                </label>
                <ng-md-icon icon="room"></ng-md-icon>
                <md-chips ng-model="bannerCtrl.regions" md-autocomplete-snap md-require-match="true"
                          md-on-add="bannerCtrl.hasDuplicatesCountriesInRegions($index)">
                  <md-autocomplete
                    md-input-name="regions-autocomplete"
                    md-search-text="bannerCtrl.searchRegionText"
                    md-items="region in bannerCtrl.querySearchRegion(bannerCtrl.searchRegionText)"
                    md-item-text="region"
                    md-min-length="1"
                    md-delay="300">
                    <span md-highlight-text="bannerCtrl.searchRegionText">{{ region.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                  <span>
                    <em>{{$chip.name}}</em>
                  </span>
                  </md-chip-template>
                </md-chips>
                <div class="gmm-banner-chips"
                     ng-show="bannerForm['regions-autocomplete'].$touched && bannerCtrl.regions.length == 0"
                     translate="INFO_FIELD_REQUIRED_ID">
                </div>
              </md-input-container>
            </div>

            <div layout="row" class="gmm-margin-top">
              <md-input-container flex
                                  class="md-has-icon md-has-chip"
                                  ng-class="bannerCtrl.campaigns.length > 0 ? 'label-chips-active': ''">
                <label class="label-chips">{{'CAMPAIGNS_ID' | translate}}
                </label>
                <ng-md-icon icon="filter_none"></ng-md-icon>
                <md-chips name="bannerCampaigns" ng-model="bannerCtrl.campaigns"
                          md-autocomplete-snap md-require-match="true"
                          ng-click="bannerCtrl.removeCheckboxSelection()">
                  <md-autocomplete
                    md-input-name="campaigns-autocomplete"
                    md-search-text="bannerCtrl.searchCampaignText"
                    md-items="campaign in bannerCtrl.querySearchCampaign(bannerCtrl.searchCampaignText)"
                    md-item-text="campaign"
                    md-min-length="1"
                    md-delay="300">
                    <span md-highlight-text="bannerCtrl.searchCampaignText">{{ campaign.name }}</span>
                  </md-autocomplete>
                  <md-chip-template>
                    <span>
                      <em>{{$chip.name}}</em>
                    </span>
                  </md-chip-template>
                </md-chips>
              </md-input-container>
            </div>

            <md-divider class="md-padding gmm-margin-top">
              <small class="md-caption" translate="BANNER_SCHEDULE_ID"></small>
            </md-divider>

            <div layout="row">
              <md-checkbox flex="20"
                           aria-label="Add banner expiry date"
                           ng-model="bannerCtrl.checkboxDateCampaign"
                           ng-change="bannerCtrl.validateCheckboxCampaignDates()"
                           class="md-warn md-align-top-left">
                <span translate="USE_CAMPAIGN_DATE_ID"></span>
              </md-checkbox>
            </div>

            <div layout="row">
              <div flex="33">
                <div flex="100" layout="column" class="timezone-container">
                  <md-input-container flex class="md-has-icon" ng-click="bannerCtrl.setTimezoneBanner()"
                                      ng-class="bannerCtrl.timezoneRequired && bannerCtrl.banner.gmt_timezone == undefined && (bannerCtrl.beginDateTime || bannerCtrl.endDateTime) ? 'md-input-invalid': ''">
                    <label class="label-timezone"
                           ng-class="bannerCtrl.banner.gmt_timezone != undefined ? 'label-active': ''"
                           translate="TIMEZONE_ID">
                      <small ng-if="bannerCtrl.beginDateTime || bannerCtrl.endDateTime" class="md-caption">*</small>
                    </label>
                    <ng-md-icon icon="schedule"></ng-md-icon>
                    <div layout="row">
                      <div flex="5" ng-click="bannerCtrl.setTimezoneCampaign()">
                        <timezone-selector ng-model="bannerCtrl.banner.gmt_timezone"
                                           display-utc="true"></timezone-selector>
                      </div>
                    </div>
                    <div class="gmm-banner-chips"
                         ng-show="bannerCtrl.timezoneRequired && bannerCtrl.banner.gmt_timezone == undefined && (bannerCtrl.beginDateTime || bannerCtrl.endDateTime)"
                         translate="INFO_FIELD_REQUIRED_ID">
                    </div>
                  </md-input-container>
                </div>
              </div>
              <div flex="33">
                <gmm-date date-name="'BEGIN_DATE_ID'" ng-model="bannerCtrl.beginDateTime"
                          datetime-optional="true"></gmm-date>
              </div>
              <div flex="33">
                <gmm-date date-name="'END_DATE_ID'" ng-model="bannerCtrl.endDateTime"
                          min-date="bannerCtrl.getMinEndDate"
                          datetime-optional="true"></gmm-date>
              </div>
            </div>
          </div>

          <div layout="row">
            <div flex="60" flex-offset="15">
              <gmm-upload gmm-upload-controller="bannerCtrl"
                          ng-model="bannerCtrl.image"
                          ng-change="bannerCtrl.changeUpload"
                          show-progress="bannerCtrl.showProgress"
                          view-image="bannerCtrl.viewImage"
                          image-found="bannerCtrl.imageNotFound">
                <gmm-upload-content>
                  <md-input-container md-no-float class="md-block">
                    <input type="url" min="3" md-maxlength="254"
                           ng-required="bannerCtrl.banner.banners.length == 0 && bannerForm.imageUrl.$touched"
                           name="imageUrl"
                           ng-model="bannerCtrl.image_url"
                           ng-change="bannerCtrl.changeImageUrl()"
                           placeholder="{{'IMAGE_URL_ID' | translate}}" ng-disabled="bannerCtrl.image != null">

                    <div ng-messages="bannerForm.imageUrl.$error">
                      <div ng-message="required"
                           ng-show="bannerForm.imageUrl.$error.required && bannerForm.imageUrl.$touched"
                           translate="INFO_FIELD_REQUIRED_ID">
                      </div>
                      <div ng-message="url"
                           ng-show="bannerForm.imageUrl.$error.url && bannerForm.imageUrl.$touched && bannerCtrl.image == null"
                           translate="INFO_URL_VALID_ID">
                      </div>
                    </div>
                  </md-input-container>
                  <md-input-container md-no-float class="md-block">
                    <input type="url" min="3" md-maxlength="254"
                           ng-required="bannerCtrl.banner.banners.length == 0 && bannerForm.targetUrl.$touched"
                           name="targetUrl"
                           ng-model="bannerCtrl.target_url" placeholder="{{'TARGET_URL_ID' | translate}}">

                    <div ng-messages="bannerForm.targetUrl.$error">
                      <div ng-message="required"
                           ng-show="bannerForm.targetUrl.$error.required && bannerForm.targetUrl.$touched"
                           translate="INFO_FIELD_REQUIRED_ID">
                      </div>
                      <div ng-message="url" ng-show="bannerForm.targetUrl.$error.url && bannerForm.targetUrl.$touched"
                           translate="INFO_URL_VALID_ID">
                      </div>
                    </div>
                  </md-input-container>

                  <md-input-container md-no-float class="md-block">
                    <input md-maxlength="50" type="text" min="3" ng-model="bannerCtrl.name" name="bannerName"
                           placeholder="{{'NAME_ID' | translate}}"
                           ng-required="bannerCtrl.banner.banners.length == 0 && bannerForm.bannerName.$touched">

                    <div ng-messages="bannerForm.bannerName.$error">
                      <div ng-message="required"
                           ng-show="bannerForm.bannerName.$error.required && bannerForm.bannerName.$touched"
                           translate="INFO_FIELD_REQUIRED_ID">
                      </div>
                      <div ng-message="md-maxlength"
                           ng-show="bannerForm.bannerName.$error['md-maxlength'] &&  bannerForm.bannerName.$touched"
                           translate="INFO_FIELD_MAX_LENGTH_ID" translate-value-number="50">
                      </div>
                    </div>
                  </md-input-container>

                  <md-select ng-model="bannerCtrl.language" placeholder="{{'SELECT_LANGUAGE_ID' | translate}}">
                    <md-option ng-select="language" ng-value="language.value"
                               ng-repeat="language in bannerCtrl.languages">{{ language.key }}
                    </md-option>
                  </md-select>
                </gmm-upload-content>

                <gmm-upload-actions>
                  <div layout="row">
                    <div flex="50">
                      <md-button ng-click="bannerCtrl.clearImage(bannerForm)" class="md-icon-button"
                                 aria-label="delete">
                        <ng-md-icon icon="delete"></ng-md-icon>
                      </md-button>
                    </div>
                    <div flex="50" class="gmm-align-right">
                      <md-button ng-click="bannerCtrl.verifyImageType(bannerForm)" aria-label="btAddBanner"
                                 ng-disabled="bannerCtrl.disableUrls()" translate="BANNER_ADD_ID">
                      </md-button>
                    </div>
                  </div>
                </gmm-upload-actions>
              </gmm-upload>

            </div>
            <div flex></div>
          </div>
          <md-divider class="md-padding">
            <small class="md-caption" translate="ADDED_BANNERS_ID"></small>
          </md-divider>
          <div layout-wrap layout="row">
            <div ng-repeat="url in bannerCtrl.banner.banners">
              <div>
                <div layout="row" layout-align="end center">
                  <div class="div-absolute-position">
                    <md-button class="md-raised md-icon-button md-warn" aria-label="Remove Banner"
                               ng-click="bannerCtrl.removeUrl(url)">
                      <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                  </div>
                </div>
                <md-card class="banner-card-item-list-width ">
                  <div layout="row" layout-align="center center" class="banner-image-container">
                    <img ng-src="{{url.image_url}}" class="md-card-image banner-card-item-list-image">
                  </div>
                  <md-card-content>
                    <div layout="column">
                      <span class="truncate-long-texts">{{'IMAGE_URL_ID' | translate}}: <a target="_blank"
                                                                                           href="{{url.image_url}}">
                        {{url.image_url}}</a></span>
                    <span
                      class="truncate-long-texts">{{'TARGET_URL_ID' | translate}}:
                      <a target="_blank" href="{{url.target_url}}">{{url.target_url}}</a></span>
                    <span
                      class="truncate-long-texts">{{'LANGUAGE_ID' | translate}}:
                       {{bannerCtrl.showCountryName(url.language)}}</a></span>
                    <span
                      class="truncate-long-texts">{{'BANNER_NAME_ID' | translate}}:
                      {{bannerCtrl.removeTimestampFromBannerName(url.name)}}</a></span>
                    </div>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>
          <md-divider class="md-padding"></md-divider>
          <div layout="row" layout-align="end center">
            <button ng-disabled="bannerCtrl.disable()" ladda="bannerCtrl.buttonSave"
                    ng-click="bannerCtrl.save($event)"
                    data-spinner-size="30" data-style="expand-left">
              {{bannerCtrl.buttonText | translate}}
            </button>
            <md-button md-no-ink ng-click="bannerCtrl.cancel($event)" class="md-primary"
                       aria-label="btCancel" translate="CANCEL_ID"></md-button>
          </div>

        </form>
      </md-content>
    </div>
  </div>
</div>
