<div layout="row">
  <div class="div-content-padding" class="content" layout-align="center center">

    <div ng-show="pushCtrl.listPush.length === 0" layout="column" layout-align="center center">
      <div class="div-there-nothing" align="center" layout-align="center center">
        <ng-md-icon icon="system_update" size="80" class="img_menu"></ng-md-icon>
      </div>
      <span class="there-nothing" translate="INFO_NO_PUSH_ID"></span>
    </div>

    <div ng-show="pushCtrl.listPush.length > 0">

      <div layout="row">
        <div flex="50" align="center">
          <span ng-click="pushCtrl.orderBy('data')">
            <a class="table-header-text-{{pushCtrl.checkLastField('data')}}" id="json">Json
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="pushCtrl.ascendant && pushCtrl.isLastSortedField('data')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!pushCtrl.ascendant && pushCtrl.isLastSortedField('data')"></ng-md-icon>
            </a>
          </span>
        </div>
        <div flex="50" align="center">
          <span ng-click="pushCtrl.orderBy('modified_date')">
            <a class="table-header-text-{{pushCtrl.checkLastField('modified_date')}}" id="modified_date">
              {{'LAST_UPDATE_ID' | translate}}
              <ng-md-icon icon="keyboard_arrow_down"
                          ng-show="pushCtrl.ascendant && pushCtrl.isLastSortedField('modified_date')"></ng-md-icon>
              <ng-md-icon icon="keyboard_arrow_up"
                          ng-show="!pushCtrl.ascendant && pushCtrl.isLastSortedField('modified_date')"></ng-md-icon>
            </a>
          </span>
        </div>
      </div>

      <md-divider></md-divider>

      <md-card class="card-list">
        <md-card-content>
          <md-list infinite-scroll="pushCtrl.nextList()">
            <md-item ng-repeat="push in pushCtrl.list">
              <md-item-content>
                <md-toolbar>
                  <div class="md-toolbar-tools">
                    <span
                      class="flag-icon flag-icon-squared flag-icon-{{pushCtrl.lowercaseCountryCode(push.location.location_country_code)}}">
                    </span>

                    <div flex="auto" layout="row">
                      <div flex="30">
                        <h4 class="truncate-long-texts">
                          <span>{{push.data}}</span>
                        </h4>
                      </div>
                      <div flex="30">
                        <h4 class="truncate-long-texts">
                          <span>{{push.query}}</span>
                        </h4>
                      </div>
                      <div flex="30">
                        <h4 class="truncate-long-texts">
                          <span>{{push.date | date:"MM/dd/yyyy h:mma"}}</span>
                        </h4>
                      </div>
                      <div ng-if="push.success_count > 0" flex="auto">
                        <ng-md-icon id="push_details_success" icon="assignment"
                                    ng-click="pushCtrl.showDialog($event, push, true)">
                          <md-tooltip md-direction="top">{{'SUCCESS_DEVICES_ID' | translate}}</md-tooltip>
                        </ng-md-icon>
                      </div>
                      <div ng-if="push.status_error=true" flex="auto">
                        <ng-md-icon id="push_details_fail" icon="announcement"
                                    ng-click="pushCtrl.showDialog($event, push, false)">
                          <md-tooltip md-direction="top">{{'FAIL_DEVICES_ID' | translate}}</md-tooltip>
                        </ng-md-icon>
                      </div>
                    </div>
                  </div>
                </md-toolbar>
              </md-item-content>
            </md-item>
            <md-divider></md-divider>
          </md-list>
        </md-card-content>
      </md-card>

    </div>
  </div>
</div>

<gmm-fab tooltip="'NEW_PUSH_ID' | translate" stage-go="'home.push.create'" gmm-fab-controller="pushCtrl.export">
  <gmm-fab-actions>
    <md-button aria-label="export" class="md-fab md-raised md-mini" ng-csv="gmmFabController.getCsvExport()"
               filename="{{gmmFabController.fileName}}" csv-header="gmmFabController.pushHeader()">
      <md-tooltip md-direction="left" md-visible="tooltipVisible" md-autohide="false">
        {{'EXPORT_CSV_ID' | translate}}
      </md-tooltip>
      <ng-md-icon icon="archive" aria-label="csv" style="fill: #0d47a1"></ng-md-icon>
    </md-button>
  </gmm-fab-actions>
</gmm-fab>
